In [1]:
import psycopg2
import pandas as pd

In [2]:
%load_ext sql

In [3]:
%sql postgresql://postgres:postgres@localhost:5432/Bank_Closures

In [4]:
# db_string = 'postgresql://postgres:postgres@localhost:5432/Bank_Closures'
# engine = sqlalchemy.create_engine(db_string)
# conn = engine.connect()
# cur = conn.cursor()

In [11]:
from sqlalchemy import create_engine

db_string = 'postgresql://postgres:postgres@localhost:5432/Bank_Closures'

engine = create_engine(db_string)
conn = engine.raw_connection()
cur = conn.cursor()

In [6]:
%%sql

DROP TABLE IF EXISTS BankList;

CREATE TABLE BankList (
    id  SERIAL,
    "Bank Name"   TEXT,
    City    TEXT,
    ST  TEXT,
    CERT INTEGER,
    "Acquiring Institution" TEXT,
    "Closing Date" TEXT
);

 * postgresql://postgres:***@localhost:5432/Bank_Closures
Done.
Done.

[]

In [9]:
df = pd.read_csv('/Users/javierorman/Python/Project 1B/banklist.csv')
df.to_sql('BankList_postgres', engine, if_exists='replace', index=False)

In [17]:
# re-name columns without spaces
%%sql

ALTER TABLE BankList RENAME COLUMN "Bank Name" to "BankName";
ALTER TABLE BankList RENAME COLUMN "Acquiring Institution" to "AcqInst";
ALTER TABLE BankList RENAME COLUMN "Closing Date" to "CloseDate";

SyntaxError: invalid syntax (<ipython-input-17-2808c27e5694>, line 4)